* {
  font-family: sans-serif;
}

/*-----header-----*/

header {
  height: 55px;
  padding: 12px;
  background-color: #24292e;
}

.link {
  text-decoration: none;
  color: rgba(255,255,255,0.75);
  list-style: none;
  font-size: 13.5px;
  font-weight: 900;
  line-height: 1.5;
  margin-top: -10px;

}

ul {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 225px;
}

li {
  margin-right: 15px;
}

.header-input {
  width: 300px;
  height: 30px;
  background-color: rgba(255,255,255,0.15);
  border-style: none;
  border-radius: 5px;
  margin-top: -10px;
}

/*-----container-----*/

.container {
  display: flex;
  padding: 0 230px;
  margin-top: 23px;
}

/*-----col-2-----*/

.col-2 {
  width: 230px;
  margin-right: 30px;
}

img {
  height: 230px;
  width: 230px;
  border-radius: 5px;
}

/*-----col-10-----*/
.col-10 {
  width: 1000px;
}

/*-----repo-menu-----*/

.repo-menu {
  border-bottom: solid;
  border-bottom-width: thin;
  height: 60px;
  padding-top: 20px;
}

.menu-buttons {
  padding: 20px;
  font-size: 15px;
}

/*-----repo-options-----*/

.repo-options-input {
  height: 35px;
  width: 380px;
  border-radius: 5px;
}

.repo-div {
  
}

.repo-title {
  color: #0366d6;
  font-size: 20px;
  font-weight: 600;
}

span {
  color: #586069;
  font-size: 12px;
  margin-right: 10px;
}

.circle {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #e34626;
}
